.navbar {
    background-color: #023b39;
    padding: 15px 30px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.navbar a {
    color: white;
    margin-left: 15px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #ffc107;
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}

.hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    color: #023b39;
    max-width: 500px;
}

.hero h1 {
    font-size: 55px;
    font-weight: bold;
    line-height: 1.2;
}

.hero span {
    color: #023b39;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.hero .btn {
    margin-top: 10px;
    padding: 10px 20px;
}

.body {
    background-color: wheat;
}

.section {
    padding: 60px 0;
}

.h2 {
    color: #023b39;
    text-align: center;
    font-weight: bold;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border: none;
}

.card-img-top {
    height: 200px;
    object-fit: contain;
    padding: 15px;
    background: white;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #023b39;
    color: white;
}

.card .btn {
    margin-top: auto; 
}

.text-warning {
    font-weight: bold;
    font-size: 16px;
}

.kendaraan {
    margin-top: 100px;
}

/* =======================
   ABOUT SECTION
======================= */
.about-section {
    padding: 80px 0;
    background: linear-gradient(to right, white);
}

.about-card {
    max-width: 700px;
    margin: auto;
    background: #023b39;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.about-title {
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 45px;
}

.about-text {
    color:white;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.8;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}

.info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
}

.info-item span {
    font-size: 20px;
}

.footer {
    background: #023b39;
    color: white;
    text-align: center;
    padding: 15px;
}

.footer p{
    color: white;
}


.container {
    width: 400px;
    margin: 80px auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
    background: #0b4d3b;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.content {
    padding: 20px;
    text-align: center;
}