.navbar {
    background-color: #1c60a4;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.logo-icon {
    font-size: 28px;
    color: #ffc107;
    margin-right: 8px;
}

.brand-text span {
    color: #ffc107;
}

.hero {
    height: 100vh;
    background: url('../assets/vespadepan.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

/* /.hero::before { */
    /* content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* background: rgba(0,0,0,0.5); */
/*  */

.hero .row {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero span {
    color: orange;
}

body {
    background-color: wheat;
}

h2 {
    color: #1c60a4;
    text-align: center;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    color: #1c60a4;
    margin-bottom: 30px;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    border: none;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.kendaraan-img {
    width: 100%;
    max-width: 200px;
    height: 130px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: 0.3s;
}

.kendaraan-img:hover {
    transform: scale(1.1);
}

.cover {
    height: 150px;
    background: #1c60a4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white; /* FIX ERROR */
}

.card-body {
    background-color: #1c60a4;
    text-align: center;
    color: white; /* biar kebaca */
}

.price {
    color: #ffc107;
    font-weight: bold;
}

.kategori-card {
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}

.footer {
    background: #1c60a4;
    color: white; /* FIX biar kelihatan */
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}
